@import "../../common/scss/mixin";

// 楼盘列表
.estate-list {
  margin-top: 20px;
  .item {
    display: flex;
    border-bottom: 1px solid $color-border-1;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .img-wrap {
    width: 200px;
    height: 133px;
    background: url('../../common/image/loader.png') no-repeat;
    .img {
      width: 100%;
    }
  }
  .info {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .info-left {
    padding-left: 20px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
    .site {
      margin-bottom: 0;
      font-size: 16px;
      color: #666;
    }
    .intr {
      padding-top: 6px;
      .hd {
        color: #333;
      }
      .desc {
        color: #666;
      }
    }
    .tag-wrap {
      padding-top: 6px;
    }
  }
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    .price {
      font-size: 30px;
      font-weight: bold;
      color: $color-primary;
    }
    .tel {
      font-size: 18px;
      font-weight: bold;
      color: #222;
    }
  }
}