{{!-- 相关阅读 --}}
{{#each list}}
<li class="list">
  <a href="{{link}}">
    <p class="desc text-truncate">{{_longtitle}}</p>
    <p class="desc text-truncate">{{_shorttitle}}</p>
  </a>
</li>
{{/each}}