{{!-- 价值报告分析推荐列表 --}}
{{#each list}}
  <li class="col-lg-3 r-list">
    <a class="no-decoration" href="{{link}}">
      <img class="r-img" src="{{pic}}" alt="">
      <p class="r-text">{{text}}</p>
    </a>
  </li>
{{/each}}