@import "../../../common/scss/mixin.scss";

body {
  position: relative;
}
// 二级导航
.sub-nav-wrap {
  margin-top: 30px;
  .nav-pills {
    justify-content: flex-start;
  }
}
.sub-nav {
  z-index: 6;
  width: 100%;
  height: 56px;
  background-color: $color-primary;
  .nav-link {
    padding: 0 40px;
    height: 56px;
    line-height: 56px;
    color: #fff;
    &.active {
      border-radius: 0;
      background-color: $color-dark;
    }
  }
}
.estate-info {
  margin-top: 20px;
  min-height: 150px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin: 0;
      font-size: 36px;
      font-weight: bold;
    }
    .price {
      font-size: 36px;
      font-weight: bold;
      color: $color-primary;
    }
  } 
  .site {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
  }
}

// 列表
.house-wrap {
  position: relative;
  min-height: 200px;
  margin-top: 20px;
  .loader-timer-wrap {
    margin-top: 100px;
  }
  .loader-timer-wrap {
    top: 50%;
    z-index: 3;
  }
}