<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!components/header-meta/index.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
  <!-- 头部 -->
  <%= require('html-loader!components/header-nav/index.html') %>

  <section class="container main">
    <div class="row">
      <!-- 左导航 -->
      <div class="nav nav-tabs flex-column col-md-3" id="user-nav">
        <%= require('html-loader!components/loader-default/index.html') %>
      </div>
      <!-- 右内容 -->
      <div class="col-md-9">
        <div class="content">
          <div class="title">
            <button type="button" class="btn rounded-0 active">我发布的</button>
            <button type="button" class="btn rounded-0 btn-primary">
              <a class="no-decoration" href="../second-hand/publish.html" target="_blank" href="">添加新房源</a>
            </button>
          </div>
          <div class="info">
            <ul class="sunny-wrap" id="listBox">
              <%= require('html-loader!components/loader-default/index.html') %>
            </ul>
            <!-- 分页 -->
            <section class="js_paging"></section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 底部 -->
  <%= require('html-loader!components/footer/index.html') %>
</body>

</html>