{{!-- <div class="header-nav">
  <div class="logo">
    <a href="/index.html">
      <img class="logo-img" src="../../common/image/logo.png" alt="房管家">
    </a>
  </div>
  <nav class="nav js_header_nav">
    <a class="nav-a" href="/index.html">首页</a>
    <a class="nav-a" href="/estate/estate-list.html">楼盘</a>
    <a class="nav-a" href="/second-hand/list.html">二手房</a>
    <a class="nav-a" href="/message/message-home.html">资讯</a>
    <a class="nav-a" href="/fitment/fitment-home.html">装修</a>
    <a class="nav-a" href="#">金融</a>
    <a class="nav-a" href="#">招商运营</a>
    <span class="last js_login_state">
      <a class="nav-a js_login_btn" href="#">登陆</a>/
      <a class="nav-a" href="#">注册</a>
    </span>
    <span class="line"></span>
  </nav>
</div> --}}