<span class="user-port dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <img class="port" src="{{_headpic}}" alt="">
</span>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item disabled" href="#">{{_username}}</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/user/information.html">个人资料</a>
  <a class="dropdown-item" href="/user/message.html">
    我的消息
    <span class="badge badge-pill badge-warning">1</span>
  </a>
  <a class="dropdown-item" href="/user/reply.html">
    我的回复
    <span class="badge badge-pill badge-warning">2</span>
  </a>
  <a class="dropdown-item" href="/user/collect.html">我的收藏</a>
  <a class="dropdown-item" href="/user/manage.html">房源管理</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item btn btn-primary btn-lg rounded-0" href="#">退出账号</a>
</div>