<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!components/header-meta/index.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://licong96.github.io/css/swiper-4.2.2.min.css">
</head>
<body>
  <!-- 头部导航 -->
  <%= require('html-loader!components/header-nav/index.html') %>
  <!-- 导航屑 -->
  <section class="container js_nav_crumbs"></section>
  <!-- 顶部信息 -->
  <section class="container top">
    <div class="info js_top_info"></div>
    <div class="operation">
      <ul class="flex">
        <li class="list">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-shoucang"></use></svg>
          收藏
        </li>
        <li class="list">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-fenxiang"></use></svg>
          分享
        </li>
        <li class="list">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-jisuanqi"></use></svg>
          房贷计算器
        </li>
      </ul>
      <a href="./publish.html" class="btn btn-default btn-lg" target="_blank">免费发布</a>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <!-- 轮播图 -->
      <div class="swiper-wrap col-md-8 js_swiper_wrap">
      </div>
      <!-- 主要信息 -->
      <div class="main-info col-md-4 js_main_info"></div>
    </div>
  </section>
  <!-- 基本信息 -->
  <section class="container basic-info js_basic_info">

  </section>
  <!-- 评论区 -->
  <section class="container js_comment" id="comments">
    
  </section>
  <!-- 猜你喜欢 -->
  <section class="container js_like_wrap hide">
    <div class="title-info">
      <h3 class="t-title">猜你喜欢</h3>
    </div>
    <div class="row you-like js_you_like"></div>
  </section>

  <%= require('html-loader!components/footer/index.html') %>
  <script src="https://licong96.github.io/js/swiper-4.2.2.min.js"></script>
  <script src="http://api.map.baidu.com/api?v=2.0&ak=NxlUGKjED1ua1mUGLc1xRCLQ"></script>
</body>

</html>