<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!components/header-meta/index.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
<body>
  <!-- 头部导航 -->
  <%= require('html-loader!components/header-nav/index.html') %>
  <input type="password" class="input-puppet" />
  <!-- 搜索和发布按钮 -->
  <section class="container" id="handListScreen">
    <div class="row sea-end">
      <div class="js_search"></div>
      <div class="end-btn">
        <a href="./publish.html" class="btn btn-raised btn-primary btn-lg" target="_blank">免费发布</a>
      </div>
    </div>
  </section>
  <!-- 筛选 -->
  <section class="container screen-wrap">
    <dov class="row">
      <!-- 类型切换 -->
      <div class="switch" id="navSwitch">
        <span class="tab active" data-index="0">二手房买卖</span>
        <span class="tab" data-index="1">二手房租赁</span>
      </div>
      <!-- 筛选条件，有二手房买卖和二手房租赁 -->
      <div class="location js_screen"></div>
    </dov>
  </section>
  <!-- 排序 -->
  <div class="container sort js_sort">
    <span class="rank active" data-value="">默认排序</span>
    <span class="rank" data-value="Price">
      价格
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-up"></use></svg>
    </span>
    <span class="rank" data-value="Square">
      面积
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-up"></use></svg>
    </span>
    <span class="rank" data-value="RegDate">
      发布时间
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-up"></use></svg>
    </span>
  </div>
  <!-- 列表 -->
  <section class="container list-wrap js_list"></section>
  <!-- 分页 -->
  <section class="container js_paging"></section>

  <%= require('html-loader!components/footer/index.html') %>
  <!-- <script src="https://licong96.github.io/js/URI.js"></script> -->
</body>

</html>