<div class="search">
  <input type="text" class="form-control js_search_val" placeholder="搜索">
  <span class="btn-search js_search_btn">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-sousuo"></use>
    </svg>
  </span>
</div>