// 颜色定义
$color-white: #fff;
$color-gray: #f5f5f5;

$color-blue: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$color-red: #fa5741;
$color-yellow: #FF9800;
$color-black: #646464;
$color-green: #20ad3a;
$color-gray-b: #b3b3b3;

// 文字颜色
$color-text-3: #313232;
$color-text-4: #4A4949;
$color-text-6: #666;
$color-text-9: #999;
$color-text-c: #C0C4CC;
