{{!-- 二手房买卖 --}}
<div class="l-main">
  <dl class="clearfix l-dl location-dl">
    <dt class="l-dt">位置</dt>
    <dd class="l-dd">
      <ul class="clearfix flex js_location_select">
        <li class="l-li active" data-index="0">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-fangyuanquyu"></use>
          </svg>
          区域找房
          <i class="caret subway-arrow"></i>
        </li>
        <li class="l-li" data-index="1">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-ditie"></use>
          </svg>
          地铁找房
          <i class="caret subway-arrow"></i>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 区域找房 -->
  <div class="more-box">
    <ul class="m-ul clearfix js_district_name" id="DistrictName">
    </ul>
    <ul class="m-ul clearfix hide" id="SubwayStation">
    </ul>
  </div>
  <!-- 总价 | 二手房买卖 -->
  <dl class="clearfix l-dl price js_deal" id="PriceRang">
    <dt class="l-dt">总价</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li active" data-value="">
          <span class="m-a">不限</span>
        </li>
        <li class="l-li" data-value="0-30">
          <span class="m-a">30万以下</span>
        </li>
        <li class="l-li" data-value="30-60">
          <span class="m-a">30万-60万</span>
        </li>
        <li class="l-li" data-value="80-100">
          <span class="m-a">80万-100万</span>
        </li>
        <li class="l-li" data-value="100-150">
          <span class="m-a">100万-150万</span>
        </li>
        <li class="l-li" data-value="150-200">
          <span class="m-a">150万-200万</span>
        </li>
        <li class="l-li" data-value="200-999">
          <span class="m-a">200万</span>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 租金 | 二手房租赁 -->
  <dl class="clearfix l-dl js_lease hide" id="RentPriceRang">
    <dt class="l-dt">租金</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li active" data-value="">
          <span class="m-a">不限</span>
        </li>
        <li class="l-li" data-value="0-500">
          <span class="m-a">500元以下</span>
        </li>
        <li class="l-li" data-value="500-1000">
          <span class="m-a">500元-1000元</span>
        </li>
        <li class="l-li" data-value="1000-1500">
          <span class="m-a">1000元-1500元</span>
        </li>
        <li class="l-li" data-value="1500-2000">
          <span class="m-a">1500元-2000元</span>
        </li>
        <li class="l-li" data-value="2000-3000">
          <span class="m-a">2000元-3000元</span>
        </li>
        <li class="l-li" data-value="3000-999">
          <span class="m-a">3000元以上</span>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 居室 -->
  <dl class="clearfix l-dl" id="CountF">
    <dt class="l-dt">居室</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li active" data-value="">
          <span class="m-a">不限</span>
        </li>
        <li class="l-li" data-value="1">
          <span class="m-a">一居</span>
        </li>
        <li class="l-li" data-value="2">
          <span class="m-a">二居</span>
        </li>
        <li class="l-li" data-value="3">
          <span class="m-a">三居</span>
        </li>
        <li class="l-li" data-value="4">
          <span class="m-a">四居</span>
        </li>
        <li class="l-li" data-value="5">
          <span class="m-a">五居</span>
        </li>
        <li class="l-li" data-value="5-9">
          <span class="m-a">五居以上</span>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 面积 | 二手房买卖 -->
  <dl class="clearfix l-dl js_deal" id="SquareRang">
    <dt class="l-dt">面积</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li active" data-value="">
          <span class="m-a">不限</span>
        </li>
        <li class="l-li" data-value="0-50">
          <span class="m-a">50m²以下</span>
        </li>
        <li class="l-li" data-value="50-70">
          <span class="m-a">50-70m²</span>
        </li>
        <li class="l-li" data-value="70-90">
          <span class="m-a">70-90m²</span>
        </li>
        <li class="l-li" data-value="90-110">
          <span class="m-a">90-110m²</span>
        </li>
        <li class="l-li" data-value="110-150">
          <span class="m-a">110-150m²</span>
        </li>
        <li class="l-li" data-value="150-200">
          <span class="m-a">150-200m²</span>
        </li>
        <li class="l-li" data-value="200-300">
          <span class="m-a">200-300m²</span>
        </li>
        <li class="l-li" data-value="300-999">
          <span class="m-a">300m²以上</span>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 方式 | 二手房租赁 -->
  <dl class="clearfix l-dl js_lease hide" id="RentType">
    <dt class="l-dt">方式</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li active" data-value="">
          <span class="m-a">不限</span>
        </li>
        <li class="l-li" data-value="整租">
          <span class="m-a">整租</span>
        </li>
        <li class="l-li" data-value="合租">
          <span class="m-a">合租</span>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 其他条件 | 二手房买卖 -->
  <dl class="clearfix l-dl">
    <dt class="l-dt check-dt">其他</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li">
          <select class="custom-select" id="PropertyTag">
            <option value="" selected>特色标签</option>
          </select>
        </li>
        <li class="l-li">
          <select class="custom-select" id="PropertyDirection">
            <option value="">请选择朝向</option>
          </select>
        </li>
        <li class="l-li">
          <select class="custom-select" id="Floor">
            <option value="">请选择楼层</option>
          </select>
        </li>
        <li class="l-li">
          <select class="custom-select" id="PropertyOwn">
            <option value="">请选择产权性质</option>
          </select>
        </li>
        <li class="l-li">
          <select class="custom-select" id="PropertyUsage">
            <option value="">请选择类型</option>
          </select>
        </li>
      </ul>
    </dd>
  </dl>
  <!-- 其他条件 | 二手房租赁 -->
  {{!-- <dl class="clearfix l-dl js_lease hide else">
    <dt class="l-dt check-dt">其他</dt>
    <dd class="l-dd">
      <ul class="clearfix">
        <li class="l-li">
          <select class="custom-select">
            <option value="">请选择装修</option>
            <option value="0">不限</option>
          </select>
        </li>
        <li class="l-li">
          <select class="custom-select">
            <option value="">请选择房源</option>
            <option value="0">不限</option>
          </select>
        </li>
      </ul>
    </dd>
  </dl> --}}
  <!-- 当前选中的筛选条件 -->
  <div class="clearfix l-dl pitch js_pitch hide">
    <div class="l-dt">
      选中的条件
    </div>
    <dl class="js_pitch_con">
    </dl>
  </div>
</div>