{{#with loaderStyle}}
<div class="loader-timer-wrap" style=" position: {{position}}; top: {{top}};">
  <div class="loader-timer-bg">
    <div class="loader-timer"></div>
  </div>
  <p class="loader-text">正在拼命加载中...</p>
</div>
{{/with}}
{{#with shaderStyle}}
<div class="loader-shade" style="background-color: {{backgroundColor}};top: {{top}};"></div>
{{/with}}