<footer class="footer">
  <div class="container">
    <div class="max-auto clearfix">
      <div class="foot-logo">
        <img class="logo" src="../../common/image/logo.png" alt="">
        <p class="icp">赣ICP备16009321号-2</p>
        <p class="fgj">®2018江西房管家网络科技有限公司</p>
      </div>
      <div class="foot-text">
        <ul class="max-auto">
          <li class="text-list">
            <span class="title">关于我们</span>
            <a class="foot-link" href="/footer/about.html">公司简介</a>
            <a class="foot-link" href="###">联系我们</a>
            <a class="foot-link" href="###">合作伙伴</a>
            <a class="foot-link" href="###">人才招募</a>
          </li>
          <li class="text-list">
            <span class="title">解决方案</span>
            <a class="foot-link" href="###">贷前估值</a>
            <a class="foot-link" href="###">内评缓释</a>
            <a class="foot-link" href="###">房生活</a>
            <a class="foot-link" href="###">营销获客</a>
            <a class="foot-link" href="###">地址精准营销</a>
            <a class="foot-link" href="###">地址标准化</a>
          </li>
          <li class="text-list">
            <span class="title">行业应用</span>
            <a class="foot-link" href="###">银行</a>
            <a class="foot-link" href="###">互联网金融</a>
            <a class="foot-link" href="###">评估机构</a>
            <a class="foot-link" href="###">政府部门</a>
            <a class="foot-link" href="###">大数据行业</a>
            <a class="foot-link" href="###">行业企业</a>
          </li>
          <li class="text-list">
            <span class="title">快速链接</span>
            <a class="foot-link" href="###">成功案例</a>
            <a class="foot-link" href="###">行业动态</a>
            <a class="foot-link" href="###">数据分析</a>
            <a class="foot-link" href="###">公司动态</a>
          </li>
        </ul>
      </div>
      <div class="foot-phone">
        <p class="phone">0791-86277110</p>
        <div class="wechat">
          <img class="img" src="../../common/image/code.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script> -->