
<div class="swiper-wrapper">
  {{#each photo}}
  <div class="swiper-slide" style="background-color: {{backgroundColor}}">
    <img class="img" src="{{pic}}" alt="">
  </div>
  {{/each}}
</div>
<div class="swiper-pagination"></div>
<div class="swiper-button-prev swiper-button-white swiper-btn-arrow"></div>
<div class="swiper-button-next swiper-button-white swiper-btn-arrow"></div>