{{#each list}}
  <a class="windy" href="#">
    <li class="list">
      <h5 class="w-title">标题标题标题标题标题标题</h5>
      <div class="rainy">
        <span class="cloudy">200万</span>
        <span class="cloudy">3室2厅</span>
        <span class="cloudy">120㎡</span>
      </div>
    </li>
  </a>
{{/each}}